
table {
    border: 0px solid grey;
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
  }
  
  th {
    border: 0px solid grey;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
  }

  td {
    border: 0px solid grey;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
  }

  table th {
    background-color: #b2b2b2;
  }
  
  table tr:nth-child(even) {
    background-color: #ececec;
  }
  
  table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */